 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 .font0 { font:4pt Special#Default Metrics Font, sans-serif; }
 .font1 { font:5pt Special#Default Metrics Font, sans-serif; }
 .font2 { font:6pt Special#Default Metrics Font, sans-serif; }
 .font3 { font:7pt Special#Default Metrics Font, sans-serif; }
 .font4 { font:8pt Special#Default Metrics Font, sans-serif; }
 .font5 { font:9pt Special#Default Metrics Font, sans-serif; }
 .font6 { font:10pt Special#Default Metrics Font, sans-serif; }
 .font7 { font:11pt Special#Default Metrics Font, sans-serif; }
 .font8 { font:12pt Special#Default Metrics Font, sans-serif; }
 .font9 { font:13pt Special#Default Metrics Font, sans-serif; }
 .font10 { font:14pt Special#Default Metrics Font, sans-serif; }
 .font11 { font:16pt Special#Default Metrics Font, sans-serif; }
 .font12 { font:17pt Special#Default Metrics Font, sans-serif; }
 .font13 { font:18pt Special#Default Metrics Font, sans-serif; }
 .font14 { font:21pt Special#Default Metrics Font, sans-serif; }
 .font15 { font:22pt Special#Default Metrics Font, sans-serif; }
 .font16 { font:24pt Special#Default Metrics Font, sans-serif; }
 .font17 { font:27pt Special#Default Metrics Font, sans-serif; }
 .font18 { font:28pt Special#Default Metrics Font, sans-serif; }
 .font19 { font:35pt Special#Default Metrics Font, sans-serif; }
 .font20 { font:42pt Special#Default Metrics Font, sans-serif; }
